<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <form action="/fads/create" method="POST" th:object="${fad}">

        <div th:fragment="_form">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="Enter fad title" th:value="${fad.title}" />
            </div>

            <div class="form-group">
                <!--<label for="description">Description</label>-->
                <textarea id="summernote" class="form-control" th:field="*{description}" cols="30" rows="10" placeholder="Enter fad description" th:value="*{title}"></textarea>
            </div>

            <div class="form-group">
                <label for="img">Image</label>
                <input class="form-control" id="img" type="text" th:field="*{img_url}" th:value="*{img_url}" placeholder="Enter image address" />
            </div>

            <div class="form-group">
                <label for="passe">Has this fad become passe yet?</label>
                <input id="passe" type="checkbox" name="passe" value="true" th:checked="*{passe}" />
            </div>

            <button class="btn btn-block btn-outline-primary">Submit</button>
        </div>


    </form>

</body>
</html>