<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="_head(title)">
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title th:text="${'FadSpringer | ' + title}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

        <!--Bootstrap Text Editor-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/main.css" />


    </head>
    <body>

        <nav th:fragment="_navbar" class="navbar navbar-dark navbar-expand-lg bg-dark">
            <div class="container p-0">
                <a th:href="@{/}" class="navbar-brand nav-link">FadSpringer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a th:href="@{/fads}" class="nav-link">Fads</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/fads/create}" class="nav-link">Create Fad</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/users}" class="nav-link">Users</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/login}" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/register}" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/profile}" class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="POST">
                                <button class="text-light bg-dark" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <main class="container" role="main">

            <h1 class="mt-5">Test</h1>

        </main>

        <div th:fragment="_scripts">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

            <!--Bootstrap Text Editor-->
            <script src="../js/main.js"></script>
        </div>

    </body>
</html>
