<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/master :: _head('FadSpringer | Fad Index')"></head>
<body>
<div th:replace="fragments/master :: _navbar"></div>
<main class="container">
    <h1>Fad Index</h1>

    <div th:each="fad : ${fads}">
        <a th:href="@{'fads/' + ${fad.id}}">
            <div class="card">
                <h3 th:text="${fad.title}"></h3>
                <p th:text="${fad.description}"></p>
                    <img width="400 " th:src="${fad.img_url}" />
                <p>Fad is passe? <span th:text="${fad.passe}"></span></p>
            </div>
        </a>
    </div>

</main>
<div th:replace="fragments/master :: _scripts"></div>
</body>
</html>
